body{
    background-color: white;
}
.curve
{
    width: 16%;
    height: 775px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  background-color: #6166f8;
  position: relative;
  top: -700px;
 
    
}
.box{

    width: 70%;
    height: 350px;
    position:relative;
    top: 30%;
    left: 14%;
    border-radius: 15px;
    background-color:white;
}
.text_position
{
padding-left: 10px;
}
.position
{
    width: 25px;
    height: 25px;
   position: relative;
   top: -45px;
   left: 25px;
 
}
.date
{
    width:100px;
    height: 80px;
    position: relative;
    left:60px;
    top:40px;

}

.position2
{
    padding: 0 0 0 0;
}

.size
{
    width: 200px;
    height: 150px;
    background-color: black;
    float: left;
    margin:20px;
}
.list
{

    height: 20px;
}
ul{
list-style-type: none;
}
li{
    color:white;
}
h3{
    text-align: center;
    color:white;
}
.sidebar  {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;  
    
}
  .wrapper{
    display: flex;
    position: relative;
  }
.img
{
    background-color: tomato;
    width: 30px;
    height: 30px;
    position: relative;
    top: 47px;
    left: 25px;
}
.alignment
{
    width: 100px;
    height: 100px;
    margin:-10px 0 0 35px;
}
.img_size{
position: relative;
top: 25px;
right: 25px;
}
.middle
{
    width: 84%;
    height: 700px;
  
    margin-left: 16%;

}
.search
{
    width: 500px;
    height: 20px;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: chartreuse;
}
.pos
{
    width: 1260px;
    height: 100px;
    padding-bottom: -10px;
}
.pos1
{
    width: 500px;
    height: 30px;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 40px;
    border-radius: 20px;
    border-style: none;
    padding-bottom: -10px;

}
.image_pos
{
    position: relative;
    left: -540px;
    top: -8px;
    border-radius: 20px;
    
}
.forecast
{
    padding-left: 45px;
    padding-top: -20px;
}
.image
{
    width: 100%;
    height: 120px;
    margin: top 5px;
    position: relative;
    top: -50px;
    
}
.img_size1
{
    width:16%;
    height:100%;
    margin-left: 40px;
    border-radius: 20px;
    float: left;
}
.text_size
{
    width:100%;
    height:25px;
    position: relative;
    left: -90px;
    top: -25px;
}
.text_gap
{
    float: left;
    padding-left: 190px;
    padding-top: 10px;
    font-size: 15px;
    
}
.climate
{
    width: 100%;
    height: 130px;
    position: relative;
    top: -110px;
    margin-left: 40px;
    
}
.temp
{
    width:8%;
    height:100%;
    background-color: whitesmoke;
    float: left;
    margin-left: 15px;
    border-radius: 30px;
    text-align: center;


}
.pos2 
{
    width: 30px;
    height: 25px;
    padding-left: 0px;
    padding-top: 20px;
    
}
.size1 
{
    width:35px;
    height: 50px;
    position: relative;
    left: 100px;
    top: 40px;
    border-radius: 5px;
}
.graph
{
 position: relative;
 top: -170px;
 left: 260px;
 border-radius: 10px;
}
.details
{
    position: relative;
    top: -80px;
    left: 200px;
}
.jacob
{
    position: relative;
    left: 400px;
    top: -5px;
    border-radius: 10px;
}
meter{
    width:130px;
    height: 10px;
    padding-right: 20px;
    position: relative;
    right: 10px;
    top: -5px;
    
    
}
meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background-color:#FEC00E;
    background-size: 100% 100%;
  }
.gap 
{
    position: relative;
    right: 20px;
}
.wind
{
    position: relative;
    right: 15px;
}
.round
{
    width: 100%;
    height: 120px;
    margin: top 5px;
    position: relative;
    top: -50px;
    background-color: transparent;
    position: relative;
    top: -123px;
}
